* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: gray;
}

#app {
  // display: flex;
  // justify-content: center;
  // padding: 20px 0;
}
